* {
  margin: 0%;
  padding: 0%;
  box-sizing: 0%;
}

body {
  background-color: hsla(218, 23%, 16%, 0.952);
  margin: 100px;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Manrope", sans-serif;
  overflow: hiddeN;
}

main {
  padding: 50px;
  border: 100px;
  margin: 50px;
  background-color: hsla(216, 19%, 38%, 0.308);
  color: hsl(193, 38%, 86%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.header {
  margin-bottom: 10px;
  color: hsl(150, 100%, 66%);
  margin-right: 30px;
  font-size: small;
  font-family: "Manrope", sans-serif;
}

img {
  width: 250px;
}

main {
  position: relative;
}

.dice {
  img {
    width: 50px;
  }
}

.dice {
  background-color: hsl(150, 100%, 66%); /* green circle */
  border: none;
  border-radius: 50%; /* makes button a circle */
  width: 60px;
  height: 60px;

  position: relative; /* positions the circle */
  bottom: 80px; /* half outside the card */
  left: 5%;
  transform: translateX(-50%);

  display: flex; /* to center the img inside */
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 26px;
}

.dice:hover {
  box-shadow: 0 0 40px hsl(150, 100%, 66%); /* green glow */
}

.dice img {
  width: 24px; /* size of the dice inside */
  height: 24px;
  pointer-events: none;
}

@media (max-width: 390px) {
  .dice {
    margin-right: 10px;
    margin-left: 60px;
  }
}
.content {
  text-align: center;
  margin: 20px auto;
  max-width: 300px;
}
